{% extends 'adminapps/base.html' %}
{% block konten %}
<style type="text/css" media="screen">
.judul-artikel-cls:hover .panel-menu{
    display: inline;
}    
.panel-menu{
    display: none;
}
</style>
POSTINGAN <a href="{% url 'admin-panel:url-tambahpost' %}"><button class="pure-button pure-button-primary">Tambah Baru</button></a>
<br>
<br>
<table class="pure-table">
    <thead>
        <tr>
            <th>No</th>
            <th>judul</th>
            <th>Penulis</th>
            <th>Kategori</th>
            <th>tags</th>
            <th>Komentar</th>
            <th>Tanggal</th>
            <th>Waktu</th>
        </tr>
    </thead>

    <tbody>
        {% for artikel in data_artikel %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td class="judul-artikel-cls">
                {{ artikel.judul_artikel }}
                <br/>
                <div class="panel-menu">
                    <a href="{% url 'admin-panel:edit-artikel' pk=artikel.pk %}">Edit</a> | 
                    <a href="#">Quick Edit</a> | 
                    <a href="{% url 'admin-panel:delete-artikel' pk=artikel.pk %}">Trash</a> |
                    <a href="#">Preview</a>
                </div>
            </td>
            <td>{{ artikel.penulis }}</td>
            <td>
            {% if artikel.kategori_artikel == None %}
                -
            {% else %}
                {% for kategori_artikel in artikel.kategori_artikel.all %}
                    <a href="#">{{ kategori_artikel }}</a>,
                {% endfor %}
            {% endif %}
            </td>
            <td>
                tag
            </td>
            <td>{{ artikel.komentar_count }}</td>
            <td>{{ artikel.created_at|date:"d M Y" }}</td>
            <td>{{ artikel.created_at|date:'H:i' }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% for post in data_postlist %}

{{post.artikel_id}}
{{post.penulis_id}}
{{post.komentar_id}}
{{post.komentar_id.count}}</br>

{% endfor %}
{% endblock %}
{% block footer %}
  {% include 'adminapps/parts/footer.html' %}
{% endblock %}

