<!doctype html>
{% load staticfiles %}
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
	    <title>Python &ndash; Django &ndash; Blog</title>
	    
	    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	    
	    <!--[if lte IE 8]>
	        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	    <!--<![endif]-->
	    
	    
	        <!--[if lte IE 8]>
	            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
	        <![endif]-->
	        <!--[if gt IE 8]><!-->
	        <!--<![endif]-->
	    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/index.css' %}">
	</head>
	{% block body %}
	{% endblock %}
	{% block footer %}
	{% endblock %}
</html>