<body>
	<div class="modal-background">
		<div class="modal-dialog">
			<div class="modal-body">
				<form class="pure-form pure-form-aligned" method="post">{% csrf_token %}
				    <fieldset>
				    	{% for field in daftar_form %}
					    	<div class="pure-control-group">
					    	    <label for="name">{{ field.label }}</label>
					    	    {{ field }}
					    	    {% for error in field.errors %}
					    	      <span class="pure-form-message-inline">{{ error }}</span>
					    	    {% endfor %}
					    	    
					    	</div>
				    	{% endfor %}
				        <div class="pure-controls">
				            <button type="submit" class="pure-button pure-button-primary">Submit</button>
				        </div>
				    </fieldset>
				</form>
			</div>
		</div>
	</div>
	<div id="menu-samping-1" class="menu-samping-1">
		<a href="javascript:void(0)" class="tutupnav" onclick="tutupNav()">&times;</a>
		<a href="#">ABOUT COMPANY</a>
		<a href="#">OUR SERVICES</a>
		<a href="#">ALL INDUSTRIES</a>
		<a href="#">NEWS & BLOG</a>
		<a href="#">CONTACT US</a>
		<a href="#">SHOP</a>
	</div>

	<div id="inti">
	<header id="header">
		<div class="header-1">
			<div>
				<div onclick="bukaNav()">
					☰ open
				</div>
				
			</div>
		</div>
		<div class="header-2 pure-g">
			<div class="header-2-1 pure-u-7-24">
				<div class="logo">
					LOGO
				</div>
				<div class="judul-web">
					<div class="judul-web-1">
						{{ data_setting_web.nama_web }}
					</div>
					<div class="judul-web-2">
						{{ data_setting_web.deskripsi_web }}
					</div>
					
				</div>
				<br>
			</div>
			<div class="header-2-2 pure-u-17-24">
				<ul class="header-2-ul">
					<li><a href="{% url 'homepage:index' %}">Home</a></li>
					<li>Services</li>
					<li>About</li>
					<li><a href="{% url 'blog:index' %}">Blog</a></li>
					<li><a href="{% url 'jualbeli:index' %}">Shop</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="slider">
	    <div>
	        <!-- A wrapper for all the blog posts -->
	        {% for artikel in data_artikel %}
	        <div class="posts">
	            <h1 class="content-subhead">postingan</h1>

	            <!-- A single blog post -->
	            <section class="post">
	                <header class="post-header">
	                    <img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="img/common/tilo-avatar.png">

	                    <h2 class="post-title">
	                    	<a href="{% url 'blog:url-detailartikel' tahun=artikel.created_at|date:'Y' bulan=artikel.created_at|date:'m'  artikelslug=artikel.judul_artikel|slugify %}">
	                    		{{artikel.judul_artikel}}
	                    	</a>
	                	</h2>

	                    <p class="post-meta">
	                        Oleh <a href="#" class="post-author">{{artikel.penulis}}</a> Dengan 
	                    	{% for kategori_artikel in artikel.kategori_artikel.all %}
	                    	<a class="post-category post-category-design" href="#">
	                    		{{ kategori_artikel }}
	                    	</a>
	                    	{% endfor %}
	                        	
	                    	
	                    </p>
	                </header>

	                <div class="post-description">
	                    <p>
	                    	{{ artikel.isi_artikel|safe}}
	                    </p>
	                </div>
	            </section>
	        </div>
	        {% endfor %}
	    </div>
	</div>
	<div class="layanan">
		services
		
	</div>
	<div class="info-pengguna-layanan">
		info
		
	</div>
	<div id="layout" class="pure-g" style='background:yellow;'>
	    <div class="content pure-u-1 pure-u-md-3-4">

	    </div>
	</div>
	</div>
</body>
<script>
function bukaNav(){
    document.getElementById("menu-samping-1").style.width = "250px";
    document.getElementById("inti").style.marginLeft = "250px"
}

function tutupNav(){
    document.getElementById("menu-samping-1").style.width = "0";
    document.getElementById("inti").style.marginLeft = "0"
}

</script>